body{
  margin-top: 2rem;
  /* text-align: center; */
}
.form{
  text-align: center;
}
.note{
  margin-top: 3rem;
  margin-left: 20%;
  font-size: large;
  font-style: oblique;
}
.list{
  margin-left: 22%;
}